body{background-color: #f5f5ef;}
.login-box{
	width:50%;
	height:500px;
	margin-left:25%;
	margin-top:7%;
	padding:10px 20px;
	background-color:white;
	font-family: "Times New Roman", Georgia, serif;
}
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

#LBtn{
	background:#cc3300;
	color:white;
	width:140px;
	height:40px;
	border-radius:0px;
	margin-left:15px;
	opacity:0.7
}
#LBtn:hover{
	opacity:1;
}

.login-box input[type="text"] {
width:100%;
height:40px;
border-radius:0px;
box-shadow:none;
border:none;
border-bottom:1px solid #ebebe0;
}
.login-box input[type="email"] {
width:100%;
height:40px;
border-radius:0px;
box-shadow:none;
border:none;
border-bottom:1px solid #ebebe0;
}
.login-box input[type="password"] {
width:100%;
height:40px;
border-radius:0px;
box-shadow:none;
border:none;
border-bottom:1px solid #ebebe0;
}

.login-box input:focus{
border-bottom:1px solid #ffb380;
}

.glogin{
	padding-left:200px;
}